.header{
    background:#095495;
    height: 125px;
    line-height: 125px;
}
.am-container{width:100%}
.header .am-container {
    text-align: center;
    /*margin:0 auto*/
}
.header .am-container ul{display: inline-block}
.header .am-container ul li{
    float: left;
}
.li_logo{
    width:50%;}
.header .am-container ul li:first-child, .header .am-container ul li:last-child{
    margin-left: 0;
    margin-right: 0;}
.am-container img{
    width: 39rem;}
.header .am-container ul li:first-child, .header .am-container ul li:last-child{
    margin-left: 0;
    margin-right: 0;
}

.main .ptcx{
    background: #172641;
}

.main .ptcx .am-container .title-small{
    margin-top: 34px;
    text-align: center;
}
.main .ptcx .am-container .title-small img{
    width :65rem;
}
.main .ptcx .am-container .title{
    margin-top: 44px;
    text-align: center;
}
.main .ptcx .am-container .title img
{
    width:80rem;
}

#fl{
    padding-left: 0;}
.main .ptcx .am-container .clsnav{
    margin-top: 48px;}
.main .ptcx .am-container .clsnav ul{
    margin-left: 20px;}

.main .ptcx .am-container .clsnav ul li:first-child{
    margin-left: 16px;}
.main .ptcx .am-container .clsnav ul li{
    float:left;
    margin-left: 42px;}
.main .ptcx .am-container .clsnav ul .active a{color:#fff;}
.main .ptcx .am-container .clsnav ul li a{
    font-size: 5.8rem;}


.main .ptcx .am-container .myform{
    margin-left: 16px;
}
.main .ptcx .am-container .myform{
    margin-top: 10px;
}
.main .ptcx .am-container .myform .am-form .am-form-group input[type="text"]{
    width: 95%;
}
.main .ptcx .am-container .myform .am-form .am-form-group input[type="text"]{
    width: 723px;
    height: 56px;
    background:url('http://img.zengwf.com/images/platform/icon-dun.png')no-repeat #fff 9px 9px;
    padding-left: 50px;
}


