body {
    background-color: #ededed;
}
.big-1 {
    background-color: #fff;
    height: 750px;
}
.big-2 {
    background-color: #fff;
    height: 2400px;
    margin-top: 1%;
}
.big-3 {
    background-color: #fff;
    height: 450px;
    padding-top: 0.5px;
    margin-top: 1%;
}
.div-1 {
    background: url('http://img.zengwf.com/images/dqxs/rw.jpg') no-repeat;
    height: 450px;
}
.div {
    width: 1000px;
    margin: 0 auto;
}
.div .p {
    font-size: 23px;
    color: #4d4d4d;
    line-height: 40px;
    text-indent: 2em;
    line-height: 40px;
    margin-top: 3%;
    letter-spacing: 2px;
}
.div-2 img {
    margin-left: 1%;
    float: left;
    margin-top: 7.3%;
}
.div-6 img {
    margin-left: 1%;
    float: left;
    margin-top: 1%;
}
.div-3 h1 {
    color: #f00;
    text-align: center;
    font-size: 40px;
    margin-top: 8%;
}
.div-4 {
    text-indent: 2em;
}
.div-4 p {
    padding-top: 4%;
}
.div-5 {
    width: 253px;
    height: 250px;
    margin-left: 36%;
    margin-top: 5%;
}
.div-5 img {
    /*border: 1px dotted #4d4d4d;*/
    padding: 10px;
    border-radius: 5px;
}
.div-14 {
    width: 253px;
    height: 250px;
    margin-left: 34.5%;
    margin-top: 5%;
}
.div-14 img {
    /*border: 1px dotted #4d4d4d;*/
    padding: 10px;
    border-radius: 5px;
}
.div-text1 {
    cursor: pointer;
    font-size: 29px;
    color: #fff;
    font-weight: bold;
    margin-top: 4%;
    letter-spacing: 6px;
    margin-left: 34%;
    border-radius: 50px;
    background-color: #46759c;
    padding: 1%;
    width: 30%;
    text-align: center;
    text-indent: 0.2em;
}
.text2 {
    margin-left: 32.5%;
    text-indent: 0.5em;
}
.div-13 p:nth-child(1) {
    text-indent: 0em;
}
.div-13 p:nth-child(2) {
    color: #f00;
    font-style: italic;
    font-size: 45px;
    font-weight: bold;
    padding-left: 65%;
}
.div-7, .div-8, .div-9, .div-10, .div-11, .div-12, .div-13 {
    padding-top: 3%;
    width: 931px;
}
.div-7 {
    padding-top: 8%;
}
.div-7 img, .div-8 img, .div-9 img, .div-10 img, .div-11 img, .div-12 img {
    float: left;
    margin-top: 1%;
    margin-right: 1%;
}
.div-7 h1, .div-8 h1, .div-9 h1, .div-10 h1, .div-11 h1, .div-12 h1 {
    float: left;
    font-size: 27px;
    color: #063488;
}
.div h2 {
    font-size: 27px;
    color: #063488;
    font-weight:normal;
}
.div .span {
    color: #f00;
}
.footer {
    margin-top: 1%;
    border-top: 1px solid #ccc;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #6b6a6a;
    font-size: 15px;
}

.copyright{
    width:100%;
    height:120px;background:#444242;}
.copyright h2{font-weight: 400;color:#fff;
    text-align: center;
    padding-top: 15px;font-size: 12px;
    padding-bottom: 15px;
    margin-top: 0;}
.copyright p{color:#fff;
    text-align: center; }