*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#000;
}
.clearfix::before,.clearfix::after{
    content:'';
    display: table;
}
.clearfix::after{
    clear:both;
}
.bg{
    background-position:center;
    background-repeat: no-repeat;
}
.topbg{
    background-image:url('http://img.zengwf.com/images/gold/topbg.png');

    position: relative;
}

.topbg .top-content{
    margin-top: 1%;
    width: 950px;
    margin-left: 24%;
}

.downs{
    position: absolute;
    right: 31%;
    bottom: 13%;
}
.downs li{
    float: left;
    margin-left: 10px;}
.downs li img{
    width: 100%;
}

.middle_bg{
    background-image:url('http://img.zengwf.com/images/gold/bg03.png');
}
.wrapper{
    width:52%;
    height:auto;
    margin:0 auto;
    overflow: hidden;
}
.dv_left,.dv_middle,.dv_right{
    width: 10.9%;
    height: 550px;
    float: left;
    margin-top: 80px;
}
.dv_left{
    margin-top: 207px;
}
.dv_middle{
    width: 65%;
    height: 451px;
}
.dv_right{
    width: 9%;
    height: 451px;
    margin-top: 207px;
}
.dv_left .icon1{background:url('http://img.zengwf.com/images/gold/icon_03.png')}
.dv_left .icon2{background:url('http://img.zengwf.com/images/gold/icon_09.png')}
.dv_left .icon3{background:url('http://img.zengwf.com/images/gold/icon_13.png')}
.dv_right .icon4{background:url('http://img.zengwf.com/images/gold/icon_05.png')}
.dv_right .icon5{background:url('http://img.zengwf.com/images/gold/icon_10.png')}

.dv_left .ico1,.dv_right .ico2{display:block;height:118px;background-repeat: no-repeat;margin-bottom:46px;}
.dv_left  .cur{background-position:-109px center;}
.dv_right  .cur{background-position:-95px center;}
/*.dv_left .ico1:hover,.div_left .cur{background-position:-109px center;}
.dv_right .ico2:hover,.div_right .cur{background-position:-95px center;}*/

.footer_bg{
    background:url('http://img.zengwf.com/images/gold/hjfooter.png');
    height:134px;
    position: relative;
}
.footer_bg img{
    position: absolute;
    width: 10%;
    right: 25%;
    top: 31%;
}

.top-cont{width:80%;margin:0 auto;
    text-align: center;}

.top-cont img{width: 72.4%;}