* {
    padding: 0;
    margin: 0;
}
.warp {
    background: url(http://img.zengwf.com/images/jds/sj-head.png) center no-repeat;
    height: 543px;
}
.warp .logo {
    height: 36px;
    padding-top: 70px;
    margin-bottom: 92px;
    margin-left: 31%;
}
.warp .slogo {
    margin-left: 12%;
}
.warp .slogo .pc {
    display: inline-block;
    width: 275px;
    height: 61px;
    background-image: url(http://img.zengwf.com/images/jds/download_hover2.png);
    background-position: -1px 0;
}
.warp .slogo p {
    color: #fff;
    margin-bottom: 12px;
    font-size: 16px;
}
.warp .slogo .view {
    display: block;
    width: 200px;
    height: 61px;
    background-image: url(http://img.zengwf.com/images/jds/download_hover2.png);
    background-position: -276px 0;
    margin-top: 2%;
}
.warp .slogo .font {
    color:#ebb400;
    margin:12px 0;
    display:block;
    font-size:14px;
}
/*中间*/
/*.main {
	width: 100%;
	text-align: center;
}*/
.main .normal {
    /*height: 500px;*/
    background: #F7F7F7;
}
.normal .normal_left {
    width: 50%;
    float: left;
    margin-top: 7rem;
}
.other .normal_left {
    float: right;
    margin-top: 2rem;
}
.main .other {
    background: #fff;
    height: 536px;
}
.normal .normal_left, .normal_right {
    width: 50%;
    display: inline-block;
}
.other .normal_left, .normal_right {
    width: 50%;
    display: inline-block;
}
.other .normal_right {
    padding-top: 5rem;
}
.main h1 {
    color: #996a00;
    font-size: 3.2rem;
    padding-top: 2rem;
    margin-left: 4rem;
}
.normal .normal_right1 {
    display: inline-block;
}
.normal .normal_right1 h1 {
    padding-top: 11rem;
    margin-left: 4rem;
}
.normal p {
    line-height: 2.7rem;
    font-size: 2rem;
    margin-left: 5rem;
}
.other h1 {
    margin-left: 5rem;
    padding-top: 6rem;
}
.other p {
    margin-left: 5rem;
    font-size: 2rem;
    line-height: 2.7rem;
    padding-left: 1rem;
}
.main img {
    width: 93%;
    height: 80%
}
.bottom {
    padding-bottom: 4rem;
}
/*底部*/
.footer {
    /*height: 410px;*/
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}
.f-some {
    background: url(http://img.zengwf.com/images/jds/pic-footer.png) center no-repeat;
}
.f-some p{
    display:-webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align:center;
}
.footer .f-p {
    background: #FBBA00;
    color: #4C3600;
    font-size: 1.6rem;
    display:-webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align:center;
}
.footer .pc {
    display: inline-block;
    width: 17rem;
    height: 61px;
    background-image: url(http://img.zengwf.com/images/jds/download_hover2.png);
    background-position: 0 0;
    margin-top: 1rem;
    /*display:-webkit-box;*/
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align:center;
}
.footer_p {
    display:-webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align:center;
    color: #fff;
    padding-top: 1rem;
    font-size:0.1rem;
}
.footer_p1 {
    display:-webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align:center;
    color: #fff;
    padding-top: 1%;
}

.footer-img{

}
.footer_p3{
    font-size: 1.8rem;
    padding-top: 1.4rem;
}