* {
    padding: 0;
    margin: 0;
}
.r_wx {
    width: 271px;
    height: 400px;
    position: fixed;
    z-index: 99999;
    top: 200px;
    right: 5px;
    background: url(http://img.zengwf.com/images/wxtg/erweima_bg.png) no-repeat;
    background-size: 100% 100%;
}
.r_wx img {
    width: 130px;
    height: 130px;
    margin: 45px 0 0 70px;
}
.r_wx ul {
    width: 150px;
    height: 70px;
    margin: auto;
}
.r_wx ul .wx_s {
    color: rgb(146, 146, 146);
    font-size: 16px;
}
.r_wx ul li {
    width: 150px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: rgb(255, 80, 80);
    font-weight: bold;
    text-align: center;
}
.r_wx p {
    width: 271px;
    height: 55px;
    line-height: 24px;
    font-size: 18px;
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.r_wx p span {
    display: block;
    width: 271px;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    color: rgb(255, 247, 0);
}
#banner {
    width: 100%;
    height: 630px;
    margin: auto;
    background: url(http://img.zengwf.com/images/wxtg/banner_bg.jpg) no-repeat center;
}
#banner .banner {
    position: relative;
    width: 1100px;
    height: 630px;
    margin: auto;
}
#banner .banner .b_con {
    position: absolute;
    width: 774px;
    height: 630px;
    background: url(http://img.zengwf.com/images/wxtg/banner.png) no-repeat;
}
.banner .b_con .aa ul {
    width: 260px;
    height: 48px;
    margin: 382px 0 0 211px;
}
.banner .b_con .bb ul {
    width: 454px;
    height: 40px;
    margin: 11px 0 0 201px;
}
#banner .banner .hb {
    position: absolute;
    width: 321px;
    height: 431px;
    top: 124px;
    right: 0px;
    background: url(http://img.zengwf.com/images/wxtg/hb.png) no-repeat center;
}
#banner .banner .hb ul {
    width: 321px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
}
#banner .banner .hb i {
    display: block;
    width: 317px;
    font-style: initial;
    font-size: 22px;
    color: rgb(6, 9, 30);
    text-align: center;
    margin-top: 5px;
}
#banner .banner .hb img {
    width: 175px;
    height: 175px;
    margin: 30px 0 0 68px;
    border: 1px solid #dedede;
}
#banner .banner .hb p {
    width: 250px;
    height: 40px;
    background: rgb(255, 240, 7);
    border-radius: 8px;
    border: solid 3px rgb(210, 21, 21);
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 40px;
    margin: auto;
    margin-top: 30px;
}
#banner .banner .hb ul .scan {
    font-size: 18px;
    color: #929292;
}
#banner .banner .hb ul li {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 80, 80);
    text-align: center;
    line-height: 28px;
}
.content_wx {
    width: 100%;
    height: 345px;
    margin: auto;
    background: url(http://img.zengwf.com/images/wxtg/content_bg.jpg) no-repeat center;
}
.content_wx h2 {
    width: 100%;
    height: 135px;
    font-weight: bold;
    text-align: center;
    line-height: 135px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.content_wx .nav, .content_wx .nav ul {
    width: 1020px;
    height: 166px;
    margin: auto;
    overflow: hidden;
}
.content_wx ul li {
    width: 300px;
    height: 139px;
    float: left;
    margin-left: 30px;
    background: url(http://img.zengwf.com/images/wxtg/recived.b5882e31.png) no-repeat;
}
.content_wx ul li p {
    width: 173px;
    height: 139px;
    float: left;
    font-weight: bold;
    line-height: 139px;
    text-align: center;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-shadow: -4px 4px 5px rgba(0, 0, 0, .35);
}
.content_wx ul li a {
    display: block;
    width: 120px;
    height: 100%;
    float: left;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: rgb(75, 11, 11);
}
.content_wx ul li a span {
    display: block;
    margin-top: 40px;
}
.content_wx ul li .special {
    line-height: 30px;
    margin-top: 35px;
}
.content_wx ul li p {
    width: 173px;
    height: 139px;
    float: left;
    font-weight: bold;
    line-height: 139px;
    text-align: center;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-shadow: -4px 4px 5px rgba(0, 0, 0, .35);
}

.jump {
    animation: egg_one .6s linear infinite alternate;
    -ms-animation: egg_one .6s linear infinite alternate;
    -moz-animation: egg_one .6s linear infinite alternate;
    -webkit-animation: egg_one .6s linear infinite alternate;
    -o-animation: egg_one .6s linear infinite alternate
}

@keyframes egg_one {
    0% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }
    to {
        -webkit-transform: scale(.8, .8);
        transform: scale(.8, .8)
    }
}

@-webkit-keyframes egg_one {
    0% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }
    to {
        -webkit-transform: scale(.8, .8);
        transform: scale(.8, .8)
    }
}
.jumptwo {
    animation: egg_two .7s linear infinite alternate;
    -ms-animation: egg_two .6s linear infinite alternate;
    -moz-animation: egg_two .6s linear infinite alternate;
    -webkit-animation: egg_two .6s linear infinite alternate;
    -o-animation: egg_two .6s linear infinite alternate
}

@keyframes egg_two {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    to {
        -webkit-transform: scale(.8, .8);
        transform: scale(.8, .8)
    }
}

@-webkit-keyframes egg_two {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    to {
        -webkit-transform: scale(.8, .8);
        transform: scale(.8, .8)
    }
}

.simulation {
    width: 100%;
    height: 590px;
    margin: auto;
}
.simulation h2 {
    width: 1200px;
    height: 110px;
    margin: auto;
    padding-top: 10px;
    line-height: 110px;
    color: rgb(255, 80, 80);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.simulation .s_content {
    width: 500px;
    height: 68px;
    margin: auto;
}
.simulation h2 span {
    color: rgb(95, 95, 95);
}
.s_img {
    width: 1090px;
    height: 335px;
    margin: auto;
    margin-top: 35px;
    background: url(http://img.zengwf.com/images/wxtg/contert.jpg) no-repeat center;
}
.s_img ul {
    width: 1090px;
    height: 95px;
    margin: auto;
}
.s_img ul li {
    width: 180px;
    height: 90px;
    float: left;
    line-height: 24px;
    color: rgb(152, 152, 152);
    font-size: 16px;
    font-weight: bold;
    margin: 240px 0 0 70px;
    padding-right: 8px;
}
.s_img ul li span {
    color: red;
}
.layout {
    width: 100%;
    height: 1475px;
    margin: auto;
    background: rgb(242, 242, 242);
}
.layout h2 {
    width: 1126px;
    height: 228px;
    margin: auto;
    background: url(http://img.zengwf.com/images/wxtg/bt_bg.jpg) no-repeat;
}
.layout .layout_img, .layout .layout_img1, .layout .layout_img2 {
    width: 1126px;
    height: 453px;
    margin: auto;
    margin-top: 20px;
}
.layout .layout_img1 img, .layout .layout_img2 img {
    box-shadow: -4px 4px 5px rgba(0, 0, 0, .35);
}
.Record {
    width: 100%;
    height: 154px;
    margin: auto;
}
.Record h2 {
    width: 1100px;
    height: 112px;
    margin: auto;
    line-height: 112px;
    line-height: 110px;
    color: rgb(255, 80, 80);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom: 5px solid #ffba13;
}
.Record .Record_bt, .Record .Record_bt ul {
    width: 1100px;
    height: 35px;
    margin: auto;
    margin-top: 2px;
    background: #ffba13;
    border-bottom: 1px solid rgb(206, 206, 206);
    overflow: hidden;
}
.Record .Record_bt ul .open_t {
    width: 214px;
    border-left: #ffd879 1px solid;
}
.Record .Record_bt ul .bt_s {
    width: 72px;
}
.Record .Record_bt ul li {
    width: 122px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    border-right: #ffd879 1px solid;
}
.buttons {
    width: 307px;
    height: 75px;
    margin: auto;
}
.buttons p {
    width: 307px;
    height: 60px;
    margin: auto;
    line-height: 60px;
    font-size: 18px;
    color: #999;
    text-align: center;
}
/*弹窗*/
.tankuang {
    top: 100px;
    left: 50%;
    margin-left: -240px;
    width: 480px;
    height: 600px;
    background: url(http://img.zengwf.com/images/wxtg/layer-box.bbbaa43b.png) no-repeat;
    background-size: 100% 100%;
    background-color: rgb(0, 0, 0) 0.8;
    font-size: 32px;
    color: #fff;
    overflow: hidden;
}
.tankuang img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 58px auto 0 80px;
}
.shadow, .tankuang {
    position: fixed;
    z-index: 999;
}
.hide {
    display: none;
}
.close {
    float: right;
    width: 50px;
    height: 50px;
}
.tankuang .txt_one {
    text-align: center;
    margin-top: 95px;
    margin-left: -75px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.tankuang .txt_one1 {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    color: rgb(126, 11, 11);
    margin-left: -75px;
}
.tankuang .txt_two {
    font-size: 34px;
    text-align: center;
    padding-top: 19;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-left: -75px;
}
.tankuang .txt_three {
    font-size: 36px;
    text-align: center;
    color: rgb(255, 215, 0);
    font-size: 30px;
    font-weight: bold;
    margin-left: -75px;
}
.box {
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    position: fixed;
    opacity: 0.8;
    z-index: 90;
}
.t_num1 {
    display: inline-block;
    line-height: 13px;
    margin: 2px 4px 0 4px;
}

.t_num1 i {
    width: 51px;
    height: 40px;
    display: inline-block;
    background: url(http://img.zengwf.com/images/wxtg/number.png) no-repeat;
    background-position: 0 0;
    text-indent: -999em
}

.t_num2 {
    display: inline-block;
    line-height: 13px;
    margin: 2px 4px 0 4px;
}

.t_num2 i {
    width: 46.4px;
    height: 40px;
    display: inline-block;
    background: url(http://img.zengwf.com/images/wxtg/number.png) no-repeat;
    background-position: 0 0;
    text-indent: -999em
}
#demo {
    width: 1100px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
}
#demo ul {
    width: 1100px;
    height: 35px;
    margin: auto;
}
#demo ul .open_t {
    width: 214px;
    border-left: rgb(206, 206, 206) 1px solid;
}
#demo ul li {
    width: 122px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background: rgb(255, 255, 255);
    border-right: rgb(206, 206, 206) 1px solid;
    border-bottom: rgb(206, 206, 206) 1px solid;
}
#demo ul .bt_s, #demo ul .bt_z, #demo ul .bt_y, #demo ul .bt_l {
    width: 72px;
}

.Record h2 span {
    color: rgb(95, 95, 95);
}
#demo ul .bt_s, #demo ul .bt_z, #demo ul .bt_y, #demo ul .bt_l {
    width: 72px;
}
#demo ul .bt_z {
    color: green;
    font-weight: bold;
}
#demo ul .bt_y {
    color: red;
    font-weight: bold;
}


.copyright{
    width:100%;
    height:88px;background:#959595;}
.copyright h2{font-weight: 400;color:#fff;
    text-align: center;
    padding-top: 15px;font-size: 1px;
    padding-bottom: 15px;
    margin-top: 0;}
.copyright p{color:#fff;
    text-align: center; }