.head{
    background:url('http://img.zengwf.com/images/calendar/bg1.png');

}
.head-content{
    width:65%;
    margin:0 auto;
    text-align: center;
}
.head-content .title{
    width:88%;
}
.head-content .air{
    width:65%;
}
.head-content .h3h{
    width:88%;
}

.downs{
    margin-left: 12%;
    margin-top: 8%;
}
.downs li{
    float: left;
}

.downs li img{
    width:85%;
}

.footer{
    background:url('http://img.zengwf.com/images/calendar/bg2.png');
}

.footer-content{
    width:65%;
    margin:0 auto;
    text-align: center;
}

.copyright{
    width:100%;
    height:88px;background:#444242;}
.copyright h2{font-weight: 400;color:#fff;
    text-align: center;
    padding-top: 15px;font-size: 12px;
    padding-bottom: 15px;
    margin-top: 0;}
.copyright p{color:#fff;
    text-align: center; }