.one {
    background: url(../../images/kxt/bj.png);
    height: 726px;
    margin:0 auto;
    width: 100%;
    position: relative;
    top: -6rem;
}
.one .o-l-pc {
    padding-top: 15rem;
    margin-left: 5rem;
}
.one .o-l-pc img {
    width: 30rem;
}
.one .o-l-sj {
    margin-left: 1rem;
}
.one .o-l-sj img {
    margin-top: -28rem;
    width: 12rem;
}
.one .one-left {
    margin-left: 2rem;
    float: left;
}
.one .one-right {
    margin-left: -10rem;
    width: 70rem;
    padding-top: 5rem;
}
.one .one-right .o-r-t {
    padding-top: 13rem;
    margin-left: 2rem;
    width: 21rem;
}
.one .one-right .o-r-b {
    margin-top: 1rem;
    width: 15rem;
    height: 58px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin-left: 2rem;
}
.one-right .o-r-b img {
    margin-top: 0.8rem;
    margin-left: 1rem;
    width: 1.9rem;
}
.one-right .o-r-b p {
    margin-top: -2.2rem;
    margin-left: 4rem;
    font-size: 26px;
    color: #008feb;
}
.header {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    margin-top: -5rem;
    background-color: #fff;
}
.header .h-1 {
    margin-left: 3rem;
    width: 16rem;
}
.header .h-2 {
    margin-left: 5rem;
    width: 5rem;
}
.header img:nth-child(2) {
    width: 11rem;
}
.header img:nth-child(3) {
    margin-left: 1rem;
    width: 11rem;
}
.header img:nth-child(4) {
    margin-left: 1rem;
    width: 11rem;
}
.two {
    background: url(../../images/kxt/bj2.png);
    height: 600px;
    margin:0 auto;
    width: 100%;
    padding-top: 2rem;
}
.two-left {
    margin-left: 6rem;
    padding-top: 9rem;
    position: relative;
}
.two-left img:nth-child(1) {
    position: absolute;
    display: block;
    width: 30rem;
}
.two-left img:nth-child(2) {
    position: absolute;
    display: block;
    left: 2.2rem;
    top: 10.7rem;
    width: 25rem;
}
.two-left img:nth-child(3) {
    position: absolute;
    display: block;
    left: 2.5rem;
    top: 6.5rem;
    width: 25rem;
}
.two-left img:nth-child(4) {
    position: absolute;
    display: block;
    top: 3.2rem;
    left: 4.5rem;
    width: 23rem;
}
.two-left img:nth-child(5) {
    position: absolute;
    display: block;
    left: 6rem;
    top: 1.5rem;
    width: 22rem;
}
.two .two-right {
    float: left;
    margin-left: 34rem;
    margin-top: 2rem;
}
.two .two-right img {
    width: 25rem;
}
.three {
    height: 450px;
    margin:0 auto;
    width: 100%;
}
.three .three-left {
    margin-top: 11rem;
    margin-left: -1rem;
}
.three .three-left img {
    width: 25rem;
}
.three .three-right {
    margin-left: 35rem;
    float: left;
    margin-top: -28rem;
}
.three .three-right img:nth-child(1) {
    width: 16rem;
}
.three-right img:nth-child(2) {
    margin-bottom: 6rem;
    margin-left: -14.2rem;
    width: 11rem;
}
.three-right img:nth-child(3) {
    margin-left: -23.5rem;
    margin-bottom: 7rem;
    width: 11rem;
}
.three-right img:nth-child(4) {
    margin-bottom: 7rem;
    margin-left: 1.2rem;
    width: 11rem;
}
.three-right img:nth-child(5) {
    margin-bottom: 7rem;
    margin-left: 1rem;
    width: 11rem;
}
.four {
    background: url(../../images/kxt/bj4.png);
    height: 800px;
    margin:0 auto;
    width: 100%;
}
.four .four-left {
    padding-top: 8rem;
}
.four .four-left img {
    float: left;
}
.four .four-left img:nth-child(1) {
    z-index: 2;
    width: 24rem;
    position: relative;
}
.four .four-left img:nth-child(2) {
    margin-left: -18rem;
    margin-top: -3rem;
    z-index: 1;
    position: relative;
    width: 24rem;
}
.four .four-left img:nth-child(3) {
    margin-left: -18rem;
    margin-top: -3rem;
    width: 24rem;
}
.four .four-right {
    margin-top: 10rem;
}
.four .four-right img {
    width: 25rem;
}

.copyright{
    width:100%;
    height:120px;background:#444242;}
.copyright h2{font-weight: 400;color:#fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;}
.copyright p{color:#fff;
    text-align: center; }

.down{
    cursor: pointer;
}